body{
    background-color: rgb(27, 27, 27);
}

.section{
    color: #e98208;
  font-size: 20px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 7px;
}
.main{
    margin-top: 100px;
}

.section2{
    
  position: relative;
  text-align: center;
  color: #e98208;
  font-size: 25px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 7px;
  
  
  
}

.dateclock{
color: #e98208;
  font-size: 40px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 7px;
  margin-bottom: 20px;
}