.container{
    width: 100%;
    height:auto;
    margin-left: auto;
    margin-right: auto;

}
p{
    color: red;
}

.table1{
    background-color: rgb(240, 236, 236);
    border-collapse:collapse;
    width:90%;
    font-size:inherit;
    margin-bottom: 2px;
    
}
.table2{
    margin-left: 90px;
    width:90%;
    font-size:inherit;
}
#ilkSütun{
    width: 40%;
    font-size: 15px;
    background-color:rgb(99, 197, 214);
}
#ikinciSütun{
    width: 20%;
    font-size: 15px;
    background-color:rgb(99, 197, 214);

}
#ücüncüSütun{
    width: 40%;;
    font-size: 15px;
    background-color:rgb(99, 197, 214);

}
#footer{
    font-size: 13px;
}